html{
    background-image: url('../src/new.jpg');
    /* background-image: url('https://img.freepik.com/premium-photo/young-man-using-calculator-calculate-bills-home-office_38391-114.jpg?w=740'); */
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    scroll-behavior: smooth;
    
  }
  
  html {
    --scrollbarBG: lightgrey ;
   
    --thumbBG: #1691c6 ;
  }
  body::-webkit-scrollbar {
    width: 15px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  
  
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
    
    body {
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      font-weight: 300;
      /* background: #50a3a2; */
      width: 100%;
      height: 100%;
  
    }
    
    h3{
       background-image: url('https://img.freepik.com/free-photo/empty-save-texture-room-light_1258-175.jpg?w=740&t=st=1691497767~exp=1691498367~hmac=f289a0c04049e67ce0b8adde6cb6d7d9fc3d7f4f7f20d274231bce696e61f5c8');
      background-position: center;
      
      background-clip: text;
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Steelfish Rg', 'helvetica neue',
                  helvetica, arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    #premiumuser{
      /* display: inline-block; */
      text-align: center;
      background-size: contain;
      justify-content: center;
      margin: auto 5%;
    }
    #totalExpanse{
      background-size: contain;
      /* border: 2px solid red; */
      justify-content: center;
      /* text-align: right; */
      position: absolute;
      right: 0;
      margin: 2% 10%;
    }
  
    .container {
      /* display: flex; */
      /* margin: 80px auto; */
      /* padding: 10%; */
      text-align: center;
      border: 2px solid whitesmoke;
      border-radius: 2%;
      text-align: center;
      justify-content: center ;
    }
    
    #all-expanses {
      margin: 10px auto ;
      text-align: center;
      justify-content: center;
      display: block;
      text-align: center;
      /* background: none; */
      /* color:whitesmoke; */
    }
  
    .container h1 {
      font-size: 40px;
      font-weight: 200;
    }
    
    #user_and_premium{
      margin: 20px;
      display: flex;
      /* justify-content: center; */
      text-align: center;
    }
    #user{
      margin: 2%;
      padding: 2px 5px;
      text-align: center;
    }
    #buy{
      color: whitesmoke ;
      background-image: url('https://img.freepik.com/free-photo/empty-save-texture-room-light_1258-175.jpg?w=740&t=st=1691497767~exp=1691498367~hmac=f289a0c04049e67ce0b8adde6cb6d7d9fc3d7f4f7f20d274231bce696e61f5c8');
      background-position: center;
      background-size: contain;
      /* background-color: goldenrod; */
      /* display: none; */
    }
    form {
      display: inline-block;
      /* border: 2px solid red; */
      /* padding: 2% 3%; */
      margin: auto  5% ;
      /* position: relative; */
    }
    form input, select, .show input {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(252, 252, 252, 0.2);
      width: 250px;
      outline: none;
      border-radius: 3px;
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      color: white;
      font-weight: 300;
    }
    
    select option {
      border: 1px solid rgba(252, 252, 252, 0.4);
      background-color: rgba(114 180 180);
     
    }
  
  
    form button, button {
      appearance: none;
      outline: 0;
      background-color: white;
      border: 0;
      padding: 10px 15px;
      margin: 5px 5px;
      color: #50a3a2;
      border-radius: 3px;
      width: 150px;
      font-size: 18px;
      max-height: 70px;
    }
  
    button :hover {
      box-shadow : 10px 20px grey ; 
    }
    
    .container {
      border: 2px solid white;
      border-radius: 10px;
      min-height: 400px;
      width: 100%;
      display: flex;
      padding: 1% 2%;
      margin: auto;
    }
  
    .container ol  {
      /* margin: auto 5%; */
      /* padding: 5%; */
      display: flex;
      flex-direction: column;
      /* border: 2px solid red; */
      min-height: 5%;
      width: 100%;
      /* margin: 5%; */
    }

    li{
      /* margin: 5px auto; */
      display: flex;
      /* border: 2px solid red; */
      list-style: circle;
      font-weight: bold;
      text-align: left;
      justify-content: none;
      width: 100%;
    }
  
    .txtnode{
      margin: auto 5%;
      font-size: large;
      font-weight: bold;
    }
    
    #t_expanse{
        padding: 1% 2%;
        display: flex;
    }

    #downloadFile {
      /* visibility: hidden; */
      max-height: 70px ;
    }
  
  
    a{
      text-decoration: none;
      color: whitesmoke;
      font-weight: bold;
    }
  
    .show{
      /* border: 2px solid whitesmoke; */
      padding: 10% 0%;
      margin: 5% 1%;
      text-align: center;
      justify-content: center;
    }
  
    #premShow{
      visibility: hidden;
      /* display: none; */
    }