<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forget password</title>
    <link rel="stylesheet" href="/login/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Please fill your  credentials here</h1>
      <form id="myform">
        <label>Email id</label>
        <input type="email" placeholder="email id" id="mailId" required />
        <button type="submit" id="btn" >submit</button>
        <br>
        <!-- <label>Password</label> -->
        <!-- <input type="password" placeholder="Password" id="psw" required /> -->
        
        <!-- <p>if forget password <a href="./forget-password.html">click here</a></p> -->
      </form>
      <a href="/signup">don't have an account! click here to SignUp</a>
      <br>
      <a href="/login">click here to login</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/login/forget-pass.js"></script>
  </body>
</html>
