<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
   
    <link rel="stylesheet" href="/all-expanses/style.css" />
  </head>
  <body>
    <br />
    <div id="printable">
      <div id="user_and_premium">
        <h3 id="user"></h2>
        <h3 id="premiumuser"></h3>
        <h3 id="totalExpanse"></h3>
      </div>
    
      <h3 id="all-expanses">All Expanses</h3>
    
      <div class="container">
        <ol id="expanses"></ol>
     
      </div>
      <div id="t_expanse">
        <h2>Total Expanse : </h2>
        <h2 id="tE"></h2>
      </div>
  </div>
  
  <div id="lead">
    <button id="downloadFile">download expanses</button>
    <button id="downloadAsPdf">download as pdf</button>
  </div>
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/all-expanses/showAll.js"></script>


  
  </body>
</html>

